.card {
  background-color: var(--background);
  padding: calc(var(--spacing) * 8);
  border-radius: var(--radius-2xl);
}

.shadow {
  --inset-shadow: {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000;
  }
  --inset-ring-shadow: {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000;
  }
  --ring-offset-shadow: {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000;
  }
  --ring-shadow: {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 #0000;
  }
  --shadow: 0 25px 50px -12px var(--shadow-color, rgb(0 0 0 / 0.25));
  box-shadow: var(--inset-shadow), var(--inset-ring-shadow), var(--ring-offset-shadow), var(--ring-shadow), var(--shadow);
}