.arenaContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arenaName {
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-lg);
  margin: 0px;
  margin-left: calc(var(--spacing) * 4);
}

.separator {
  border: 1px solid;
  border-color: var(--color-neutral-400);
  height: calc(var(--spacing) * 4);
  width: 0px;
  border-radius: 100%;
  margin-left: calc(var(--spacing) * 4);
}
