@use '~components/button/Button.module.scss' as button;

.modal {
  composes: modalSm from '../../components/modal/Modal.module.scss';
}

.title {
  margin-bottom: calc(var(--spacing) * 8);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 8);
}

.createAction {
  composes: modalButton from '../../components/modal/Modal.module.scss';
  @include button.buttonType('success');
}

.cancelAction {
  composes: modalButton from '../../components/modal/Modal.module.scss';
  @include button.buttonType('cancel');
}
