.app {
  --selected-color: rgb(144, 202, 249);
  --unselected-color: rgba(255, 255, 255, 0.7);
  --spacing: 0.25rem;

  --font-weight-bold: 700;

  --text-sm: 0.875rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;

  --text-sm--line-height: calc(1.25/.875);
  --text-xl--line-height: calc(1.75/1.25);
  --text-2xl--line-height: calc(2 / 1.5);

  --radius: 0.625rem;
  --radius-2xl: 1rem;

  --container-md: 28rem;


  --shadow-color: 0deg 0% 0%;
  --shadow-low:
    0.3px 0.7px 0.9px hsl(var(--shadow-color) / 0.09),
    0.5px 1.1px 1.4px -1.2px hsl(var(--shadow-color) / 0.09),
    1.2px 2.7px 3.3px -2.5px hsl(var(--shadow-color) / 0.09);
  --shadow-medium:
    0.3px 0.7px 0.9px hsl(var(--shadow-color) / 0.09),
    1px 2.2px 2.7px -0.8px hsl(var(--shadow-color) / 0.09),
    2.5px 5.5px 6.8px -1.7px hsl(var(--shadow-color) / 0.09),
    6px 13.4px 16.5px -2.5px hsl(var(--shadow-color) / 0.09);
  --shadow-high:
    0.3px 0.7px 0.9px hsl(var(--shadow-color) / 0.09),
    1.7px 3.7px 4.6px -0.4px hsl(var(--shadow-color) / 0.09),
    3.1px 6.9px 8.5px -0.7px hsl(var(--shadow-color) / 0.09),
    5.1px 11.3px 13.9px -1.1px hsl(var(--shadow-color) / 0.09),
    8.1px 17.9px 22.1px -1.4px hsl(var(--shadow-color) / 0.09),
    12.6px 28px 34.5px -1.8px hsl(var(--shadow-color) / 0.09),
    19.1px 42.5px 52.4px -2.1px hsl(var(--shadow-color) / 0.09),
    28.1px 62.5px 77.1px -2.5px hsl(var(--shadow-color) / 0.09);


    --color-neutral-50: oklch(98.5% 0 0);
    --color-neutral-100: oklch(97% 0 0);
    --color-neutral-200: oklch(92.2% 0 0);
    --color-neutral-300: oklch(87% 0 0);
    --color-neutral-400: oklch(70.8% 0 0);
    --color-neutral-500: oklch(55.6% 0 0);
    --color-neutral-600: oklch(43.9% 0 0);
    --color-neutral-700: oklch(37.1% 0 0);
    --color-neutral-800: oklch(26.9% 0 0);
    --color-neutral-900: oklch(20.5% 0 0);
    --color-neutral-950: oklch(14.5% 0 0);

    
    --color-indigo-50: oklch(96.2% 0.018 272.314);
    --color-indigo-100: oklch(93% 0.034 272.788);
    --color-indigo-200: oklch(87% 0.065 274.039);
    --color-indigo-300: oklch(78.5% 0.115 274.713);
    --color-indigo-400: oklch(67.3% 0.182 276.935);
    --color-indigo-500: oklch(58.5% 0.233 277.117);
    --color-indigo-600: oklch(51.1% 0.262 276.966);
    --color-indigo-700: oklch(45.7% 0.24 277.023);
    --color-indigo-800: oklch(39.8% 0.195 277.366);
    --color-indigo-900: oklch(35.9% 0.144 278.697);
    --color-indigo-950: oklch(25.7% 0.09 281.288);
}

@media screen and (min-width: 1280px) {
  .app {
    --main-content-width: 1280px;
  }
}